<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/LogoAdmission.png" alt="image" class="img-fluid" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="mt-5 custom-color"><b>Hi, Welcome</b></h2>
                <p class="f-16 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>


          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email address / Username" />
            <label for="floatingInput">Email address / Username</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput1" placeholder="Password" />
            <label for="floatingInput1">Password</label>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input input" type="checkbox" id="customCheckc1" checked="" />
            <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
          </div>

          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary" (click)="login()">Sign In</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
