img.logo {
    width: 220px;
}

.pcoded-navbar .main-menu-header {
    margin-top: 20px !important;
}


.pcoded-header.header-dark
 {
    background: #E6E6E6;
    color: rgba(255, 255, 255, 0.8);
}

.simplebar-content-wrapper {
    background: #5B2422;
}

.pcoded-navbar .main-menu-header {
    background: #5B2422;
}

/* In your component's CSS file */
.make-bold {
  font-weight: bold;
}